.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo h2 {
  margin: 0;
  font-size: 22px;
}

.logo span {
  font-size: 12px;
  color: gray;
}

.logo img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.nav-links a {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  color: #c0392b;
}

/* HAMBURGER */

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* MOBILE NAVBAR */

@media (max-width: 768px) {

  .navbar {
    padding: 15px 25px;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 220px;
    flex-direction: column;
    border-left: 1px solid #ddd;
    display: none;
    padding: 20px;
  }

  .nav-links a {
    margin: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }

}